<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Verify OTP</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <h2>Enter the OTP sent to your email</h2>
  <form method="post">
    <input type="text" name="otp" placeholder="Enter OTP" required>
    <button type="submit">Verify</button>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for msg in messages %}
          <li style="color: red;">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
